@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Mochiy Pop One', 'Comic Sans MS', 'Segoe UI', Arial, sans-serif;
  background-color: #ccf1fb;
  min-height: 100vh;
}
