.header {
  text-align: center;
  margin-bottom: 20px;
}

.botIcon {
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #8ab0cc;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0;
  font-size: 3em;
  color: #8ab0cc;
  text-shadow: 
    -2px -2px 0 white,
     2px -2px 0 white,
    -2px  2px 0 white,
     2px  2px 0 white;
}